footer {
    background-color: #0f3460;
    color: white;
    margin-top: auto;
    /* padding: 2rem 0 1rem 0; */
}

footer ul {
    list-style: none;
    padding: 0px;
}

footer ul li {
    padding: 2px 0px;
}