#apiheading{
    margin: 5% 10% 0% 10%;
    /* text-shadow: 2px 2px 5px; */
    color: var(--text-color2)
}

.container{
    margin: 2% 10%;
    border: 1px solid;
    height: 300px;
    box-shadow: 5px 5px 8px;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    align-items: center;
}
.container div{
    width: 400px;
    height: 200px;
    border: 1px solid;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
    transition: transform 0.5s linear;
}
.container div:hover{
    transform: scale(1.1);
}



@media screen and (max-width:768px){
    .container div{
        width: 250px;
        height: 200px;
    }
}
@media screen and (max-width:426px){
    .container{
        flex-direction: column;
    }
    .container div{
        height: 120px;
        line-height: 120px;
    }
}

@media screen and (max-width:320px){
    .container{
        flex-direction: column;
    }
    .container div{
        width: 190px;
    }
}