.bi-heart-fill {
  color: red;
  font-size: 1.5rem;
  opacity: 0;
  transition: all 0.4s linear;
}

.card:hover .bi-heart-fill {
  opacity: 1;
}

.card button:hover {
  background-color: #0f3460;
  color: white;
}

#app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}