* {
    margin: 0px;
    padding: 0px;
    /* list-style: none; */
    font-family: roboto;
    text-decoration: none;
}

:root {
    --bg-color1: black;
    --bg-color2: white;
    --bg-color3: #343a40;
    --bg-color4:#004085;
    --bg-color5:#ff4500;
    --font-color1: white;
    --font-color2: black;
    --font-color3: red;
    --font-color4: #0c5397;
    --font-color5: #343a40;
    --border-color1:lightgray;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

/* header styling */
header {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    height: 65px;
    background-color: var(--bg-color3);
}
header section {
    width: 200px;
    height: 60px;
    margin-left: 3%;
}
header img {
    width: 100%;
    height: 100%;
}

/* banner */
.banner {
    height: 400px;
}
.banner img {
    width: 100%;
    height: 100%;
}

/* vertical fixed (Contact us) */
#vertical_fixed p{
    writing-mode: vertical-rl;
    /* text-orientation:upright; */
    position:fixed ;
    left: 97%;
    top: 45%;
    background-color: var(--bg-color5);
    color: var(--font-color1);
    width: 30px;
    height: 110px;
    text-align: center;
    line-height: 30px;
}

/* training */
.training {
    height: 100px;
    display: flex;
    margin-top: -3%;
    justify-content: space-evenly;
    align-items: center;
}
.training section {
    width: 410px;
    height: 100px;
    border: 0px solid var(--bg-color2);
    background-color: var(--bg-color2);
    box-shadow: 1px 1px 5px var(--bg-color1);
    position: relative;
    display: block;
    transition:transform 0.3s linear;
}
.training section h4:nth-child(1) {
    position: absolute;
    top: 25%;
    left: 7%;
    color: var(--font-color5)
}
.training section h4:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 7%;
    color: var(--font-color2);
}
.training section h4:nth-child(3) {
    position: absolute;
    top: 40%;
    left: 65%;
    color: var(--font-color4)
}
.training section:hover{
   transform:scale(1.15);
   background-color:var(--bg-color4)
}
.training section:hover h4{
    color:var(--font-color1);
}
h2{
    margin: 2% 5%;
    font-size: 200%;
}


/* Tranding courses */
.tranding{
    height: 700px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    margin: 2% 3%;
}
.tranding section{
    width: 310px;
    height: 310px;
    border: 1px solid var(--border-color1);
    box-shadow: 2px 2px 4px var(--border-color1);
    position: relative;
}
.tranding img{
    width: 100%;
    height: 100%;
}

.tranding .over{
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    
    opacity: 0;
    background-color: black;
    transition:opacity 0.5s linear ;
    /* transition: transform 0.5 linear; */
    overflow-y: scroll;
}
.tranding .content{
    color: white;
    margin-left: 20px;
    line-height: 30px;
}
.tranding .content ul{
    margin-left: 20px;
    /* border: 1px solid; */
}
.tranding section:first-child:hover .over{
    opacity: 0.7;
}