@media screen and (max-width:1024px) { 
    header {
        height: 100px;
    }
    header section {
        width: 250px;
    }
    nav{
        margin-left: 14%;
        width: 700px;
    }
    nav>ul {
        width: 650px;
    }
    .training{
        margin-top: -5%;
    }
    .training section{
        width: 300px;
        height: 80px;
    }
    .training h4{
        font-size: 80%;
    }
    .tranding{
        height:900px ;
        grid-template-columns: repeat(3,1fr);
    }
    .tranding section{
        width: 300px;
        height: 280px;
    }
}

@media screen and (max-width:768px) { 
    header {
        height: 80px;
        grid-template-columns: 70% 30%;
    }
    header section {
        width: 180px;
        height: 50px;
        margin-left: 3%;
    }
    nav{
        width: 60px;
        border: 1px solid rgb(71, 69, 69);
        margin-left: 50%;
    }
    nav>a{
        display: block;
        width: 60px;
        text-align: center;
    }
    nav>a i{
        font-size: 150%;
    }
    nav>ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: var(--bg-color3);
        position: absolute;
        left: 0px;
        top: 80px;
        display: none;
    }
    nav>ul>li{
        height: 35px;
        width: 180px;
        line-height: 35px;
    }
    nav>ul>li>a{
        color: var(--font-color1);
        margin-left: 15%;
    }
    #vertical_fixed p{  
        top: 14%;
        font-size: 60%;
        width: 20px;
        height: 70px;
        text-align: center;
        line-height: 20px;
    }
    .training{
        margin-top: -6%;
    }
    .training section{
        width: 220px;
        height: 60px;
    }
    .training section h4{
        font-size: 70%;
    }
    .tranding{
        height: 730px;
    }
    .tranding section{
        width: 230px;
        height: 230px;
    }
}

@media screen and (max-width:426px) { 
    header{
        height: 100px;
        grid-template-columns: 50% 50%;
    }
    header section {
        width: 200px;
        height: 60px;
    }
    nav>ul ul{
        margin-left: 3%;
        margin-right: 2%;
        border:2px solid;
    }
    nav>ul ul>li{
        width: 400px;
    }
    nav>ul ul ul{
        margin: 0% 5%;
        border-radius: 2%;
    }
    #vertical_fixed{
        display: none;
    }
    .training{
        display: flex;
        flex-direction: column;
    }
    .training section{
        width: 400px;
        height: 60px;
    }
    .training section h4:nth-child(3) {
        left: 80%;
    }
    .training section h4:nth-child(1),.training section h4:nth-child(2){
        left: 5%;
    }
    .tranding{
        display: flex;
        flex-direction: column;
        height:auto;
        margin-top: -20%;
    }
    .tranding section{
        width: 350px;
        height: 300px;
        margin-top: 3%;
    }
    h2{
        font-size: 200%;
        margin: 30% 10%;
    }
}

@media screen and (max-width:376px) { 
    header li:last-child i{
        display: block;
    }
    nav>ul ul>li{
        width: 350px;
    }
    .training section{
        width: 350px;
        height: 60px;
    }
    .training section h4:nth-child(1),.training section h4:nth-child(2){
        left: 5%;
    }
    .training section h4:nth-child(3) {
        left: 80%;
    }
    .tranding section{
        width: 320px;
        height: 300px;
    }
    h2{
        font-size: 180%;
    }
}

@media screen and (max-width:321px) { 
    header li:last-child i{
        display: block;
    }
    nav>ul ul>li{
        width: 300px;
    }
    nav>ul ul ul{
        width: 280px;
        margin: 0% 2%;
    }
    .training section{
        width: 300px;
        height: 60px;
    }
    .training section h4:nth-child(3) {
        left: 70%;
    }
    .tranding section{
        width: 280px;
        height: 300px;
    }
    h2{
        font-size: 160%;
        margin-top: 35%;
    }
    
}