@media screen and (max-width:1024px) { 
    header {
        height: 80px;
    }
    header section {
        width: 180px;
        height: 50px;
        margin-left: 3%;
    }
    header a {
        font-size: 100%;
    }
    header ul {
        width: 800px;
        margin-left: 10%;
    }
    .training{
        margin-top: -5%;
    }
    .training section{
        width: 300px;
        height: 80px;
    }
    .training h4{
        font-size: 80%;
    }
    .tranding{
        height:900px ;
        grid-template-columns: repeat(3,1fr);
    }
    .tranding section{
        width: 300px;
        height: 280px;
    }
}

@media screen and (max-width:768px) { 
    header {
        height: 80px;
    }
    header section {
        width: 180px;
        height: 50px;
        margin-left: 3%;
    }
    header li a{
        display: none;
    }
    header li:last-child i{
        display: block;
    }
    .training{
        margin-top: -6%;
    }
    .training section{
        width: 220px;
        height: 60px;
    }
    .training section h4{
        font-size: 70%;
    }
    .tranding{
        height: 730px;
    }
    .tranding section{
        width: 230px;
        height: 230px;
    }
}


@media screen and (max-width:426px) { 
    header section {
        width: 600px;
        height: 60px;
        margin-left: 3%;
    }
    header li:last-child i{
        display: block;
    }
    .training{
        display: flex;
        flex-direction: column;
    }
    .training section{
        width: 400px;
        height: 60px;
    }
    .training section h4:nth-child(3) {
        left: 80%;
    }
    .training section h4:nth-child(1),.training section h4:nth-child(2){
        left: 5%;
    }
    .tranding{
        display: flex;
        flex-direction: column;
        height:auto;
        margin-top: -20%;
    }
    .tranding section{
        width: 350px;
        height: 300px;
        margin-top: 3%;
    }
    h2{
        font-size: 200%;
        margin: 30% 10%;
    }
}

@media screen and (max-width:376px) { 
    header li:last-child i{
        display: block;
    }
    .training section{
        width: 350px;
        height: 60px;
    }
    .training section h4:nth-child(1),.training section h4:nth-child(2){
        left: 5%;
    }
    .training section h4:nth-child(3) {
        left: 80%;
    }
    .tranding section{
        width: 320px;
        height: 300px;
    }
    h2{
        font-size: 180%;
    }
}

@media screen and (max-width:321px) { 
    header li:last-child i{
        display: block;
    }
    .training section{
        width: 300px;
        height: 60px;
    }
    .training section h4:nth-child(3) {
        left: 70%;
    }
    .tranding section{
        width: 280px;
        height: 300px;
    }
    h2{
        font-size: 160%;
        margin-top: 35%;
    }
    
}