<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav class="nav">
      <li><a href="/">Shop</a></li>
      <li><a href="/admin/add-product">Add Product</a></li>
    </nav>
    <form action="/admin/product" method="POST">
      <input type="text" name="title" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>